.hl {
    text-align: center;
    padding-top: 50px;
    font-family: 'montserrat';
    font-weight: 600;
    color: #ff990e;
}

.hl2 {
    text-align: center;
    font-family: 'montserrat';
    font-weight: 600i;
    font-style: italic;
    padding-bottom: 100px;
}

.hl3 {
    border-bottom: 5px solid #E95353;
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'montserrat';
    font-weight: 400i;
    font-style: italic;
}

.imggif {
    display: block;
    margin: 0 auto;
}
